<!DOCTYPE html>

<html>

    <head>

        <title>Chat App</title>

    <script src= "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"> </script>
        <link rel="stylesheet" type="text/css" href="style.css"/>

    </head>

    <body>
        <form action="POST">
             <input id="username" type="text" placeholder="Username" required/>
        </form>
       

        <div id="screen">

            <div id="chat-window">

                <div id="output"></div>

                <div id="feedback"></div>

            </div>

            

            <input id="message" type="message" placeholder=" Type Message"/>

            <button id="send">Send Message</button>

        </div>


         <script src="chat.js"></script>
    </body>

</html>